:root,
[data-theme="light"] {
    --bg-color: #FFF;
    --bg-secondary-color: #F6F6F6;
    --text-color: #070707;
    --text-secondary-color: #828282;
    --seporator-color: #828282;
    --fill-star-active: #070707;
    --fill-star-noactive: #E5E5E5;
    --hover-shadow: 0 0px 5px 1px #00000033;
}

body {
    --base-font-size: 18px;
    --base-line-height: 22px;
    --base-font-weight: 400;
    --base-font-style: normal;
    --default-transition: all 200ms ease;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--default-transition);
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 945px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header-row {
    padding: 20px 0;
    border-bottom: 1px solid var(--seporator-color);
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    margin: 0;
}

.header-nav li {
    list-style-type: none;
}

.nav__item {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-secondary-color);
    cursor: pointer;
    transition: var(--default-transition);
}

.nav__item:hover {
    color: var(--text-color);
}

.nav__item_active {
    color: var(--text-color);
}

.hero {
    padding-top: 40px;
    padding-bottom: 104px;
}

.introduction-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.introduction-block h1 {
    margin: 0;
    flex-shrink: 0;
    font-size: 48px;
    line-height: 59px;
}

.introduction__info,
.introduction__language {
    margin-bottom: 5px;
}

.language-select {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.language-select__item a {
    text-decoration: none;
    color: var(--text-secondary-color);
}

.language-select__item_active a {
    color: var(--text-color);
}

.introduction-img-desc {
    width: 100%;
    height: auto;
    aspect-ratio: 945 /388;
}

.introduction-img-mob {
    display: none;
    width: 100%;
    height: auto;
    aspect-ratio: auto 313 / 478;
}

.about {
    padding-top: 107px;
    padding-bottom: 107px;
    background-color: var(--bg-secondary-color);
}

.about-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.title {
    font-size: 34px;
    line-height: 42px;
    font-weight: bold;
}

.about__text {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    text-align: center;
}

.skills {
    padding-top: 107px;
    padding-bottom: 107px;
}

.skills-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.skills__card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: self-end;
    gap: 90px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 10px;
}

.card-item:hover {
    border-radius: 5px;
    box-shadow: var(--hover-shadow);
    transform: scale(110%);
    transition: var(--default-transition);
}

.card-item__img img {
    width: 100%;
    height: auto;
    aspect-ratio: auto 90 / 90;
}

.card-item__text {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: var(--text-secondary-color);
}

.card-item__star {
    padding-top: 16px;
}

.card-item__star svg {
    width: 100%;
    height: auto;
}

.star-active {
    fill: var(--fill-star-active);
}

.star-noactive {
    fill: var(--fill-star-noactive);
}

.portfolio {
    padding-top: 107px;
    padding-bottom: 107px;
    background-color: var(--bg-secondary-color);
}

.portfolio-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
}

.portfolio-row__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 99px;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.portfolio__img {
    overflow: hidden;
}

.portfolio__img img {
    width: 100%;
    height: auto;
    aspect-ratio: auto 937 / 510;
    transition: var(--default-transition);
}

.portfolio__img img:hover {
    transform: scale(105%);
}

.portfolio__link a {
    color: var(--text-color);
    transition: var(--default-transition);
}

.portfolio__link a:hover {
    color: var(--text-secondary-color);
}

.contacts {
    padding-top: 107px;
    padding-bottom: 90px;
}

.contacts-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contacts__text {
    text-align: center;
}

.send__btn {
    padding: 13px 30px 13px 30px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    color: var(--bg-color);
    background-color: var(--fill-star-active);
    transition: var(--default-transition);
}

.send__btn:hover {
    color: var(--text-color);
    outline: 1px solid var(--fill-star-active);
    background-color: var(--bg-color);
}

.send__btn:active {
    transform: scale(98%);
}

.social {
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.social__item img {
    width: 100%;
    height: auto;
    aspect-ratio: auto 41 / 41;
    transition: var(--default-transition);
}

.social__item img:hover {
    transform: scale(104%);
}

.footer {
    padding-top: 16px;
    padding-bottom: 123px;
}

.footer-link {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: var(--seporator-color);
}

.footer-link__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.footer__item {
    text-decoration: none;
    color: var(--seporator-color);
    transition: var(--default-transition);
}

.footer__item:hover {
    color: var(--text-color);
}

/* header */

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
}

/* hero */

@media screen and (max-width: 768px) {
    .hero {
        padding-top: 65px;
        padding-bottom: 81px;
    }

    .introduction-block {
        padding-bottom: 37px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 23px;
    }

    .introduction__info {
        margin: 0;
    } 

    .introduction__language {
        display: none;
    }

    .introduction-img-desc {
        display: none;
    }

    .introduction-img-mob {
        display: block;
    }
}

/* about */

@media screen and (max-width: 768px) {
    .about {
        padding-top: 81px;
        padding-bottom: 81px;
    }

    .about-row {
        gap: 29px;
    }

    .about__text {
        gap: 40px;
    }

    .about__item p {
        margin: 0;
    }
}

/* skills */

@media screen and (max-width: 768px) {
    .skills {
        padding-top: 81px;
        padding-bottom: 81px;
    }

    .skills-row {
        gap: 50px;
    }

    .skills__card {
        flex-wrap: wrap;
        gap: 80px;
    }
}

/* portfolio */

@media screen and (max-width: 768px) {
    .portfolio {
        padding-top: 81px;
        padding-bottom: 81px;
    }

    .portfolio-row {
        gap: 64px;
    }

    .portfolio-row__body {
        gap: 77px;
    }

    .portfolio__item {
        gap: 33px;
    } 
}

/* contacts */

@media screen and (max-width: 768px) {
    .contacts {
        padding-top: 81px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 576px) {
    .contacts-row {
        gap: 37px;
    }

    .send__btn {
        padding: 13px 98px 13px 98px;
        border-radius: 20px;
    }
}

/* social */

@media screen and (max-width: 576px) {
    .social {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 398px) {
    .social-row {
        justify-content: space-between;
        gap: 41px;
    }
}

/* footer */

@media screen and (max-width: 576px) {
    .footer {
        padding-top: 24px;
        padding-bottom: 81px;
    }

    .footer-link {
        font-size: var(--base-font-size);
        line-height: var(--base-line-height);
    }
}

@media screen and (max-width: 348px) {
    .footer-link__block {
        justify-content: center;
        flex-wrap: wrap;
    }
}